
<p align="center">
  <a href="https://github.com/ISIS-3510-G24/Wiki/wiki" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/Home-gray" alt="Home" />
  </a>
<a href="https://github.com/orgs/ISIS-3510-G24/projects/1" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/Tasks-gray" alt="Projects" />
  </a>
<a href="https://github.com/orgs/ISIS-3510-G24/projects/1/insights" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/Insights-gray" alt="Insights" />
  </a>
  <span style="margin: 0 30px; color: #666; font-size: 44px;">┃</span>

  <a href="https://github.com/ISIS-3510-G24/Wiki/wiki/MS1" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/Entrega%20S1MS1-cyan" alt="Entrega S1MS1" />
  </a>
  <a href="https://github.com/ISIS-3510-G24/Wiki/wiki/MS2" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/Entrega%20S1MS2-green" alt="Entrega S1MS2" />
  </a>
<a href="https://github.com/ISIS-3510-G24/Wiki/wiki/MS3" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/Entrega%20S1MS3-purple" alt="Entrega S1MS3" />
  </a>
<a href="https://github.com/ISIS-3510-G24/Wiki/wiki/MS4" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/Entrega%20S1MS4-orange" alt="Entrega S1MS4" />
  </a>
  <span style="margin: 0 30px; color: #666; font-size: 44px;">┃</span>
  <a href="https://github.com/ISIS-3510-G24/Wiki/wiki/App-Report-%E2%80%90-Flutter" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/AppReport%20Flutter-blue" alt="AppFlutter" />
  </a>
  <a href="https://github.com/ISIS-3510-G24/Wiki/wiki/App-Report-%E2%80%90-Kotlin" target="_blank" rel="noreferrer">
    <img src="https://img.shields.io/badge/AppReport%20Kotlin-brown" alt="AppKotlin" />
  </a>
